extends base

block viewport
	body.container.Container.Cover
		header.header.Container-main
			h1 hOI, I'm wryk

			nav.Menu
				ul
					li: a(href='https://github.com/wryk') Github
					li: a(href='mailto:wryk@wryk.moe') Contact
					
		main.content.Box
			!= page.content
		
		footer.footer
			img(src=url_for('images/avatar.png'))
			
			p.Box.Box--compact #[a(href='//wryk.moe') wryk.moe] is powered by #[a(href='https://hexo.io') Hexo] and is hosted on #[a(href='https://pages.github.com') GitHub Pages]

block append styles
	link(rel='stylesheet' href=url_for('styles/wryk.css'))
