@import "../_settings"

.Box
	padding 10px
	margin 20px
	background inverted-color
	color base-color
	box-shadow: 8px 0 inverted-color, -8px 0 inverted-color, 0 8px inverted-color, 0 -8px inverted-color, 0 0 0 4px inverted-color

	&--compact
		margin 0
