@import "../_settings"

@keyframes stroll-cover
	from
		background-position 0% 50%

	to
		background-position 100% 50%

.Cover
	background: linear-gradient(50deg, primary-color, base-color) fixed
	background: linear-gradient(50deg, lighten(primary-color, 30%), darken(primary-color, 30%)) fixed
	background-size: 400% 400%

	animation: stroll-cover 20s linear infinite alternate
