@import "../_settings"

.Menu
	ul
		list-style-type none
		text-align center
		margin 0
		padding 0

		@media (min-width: 480px)
			li
				display inline-block

				& + li:before
					content " | "
					padding 0 20px

	a
		transition 0.1s ease-in

		&:hover
			text-shadow 0 0 10px inverted-color
