@import 'normalize.css/normalize.css'

:root
	--color-primary 166, 57, 194
	--color-secondary 217, 59, 155
	--background-alpha 0.9


// STYLE
html
	font-family Tahoma, Geneva, sans-serif
	color white

body
	background-image \
		linear-gradient(160deg, unquote('rgba(var(--color-primary), var(--background-alpha))'), unquote('rgba(var(--color-secondary), var(--background-alpha))')), \
		url('../images/background.jpg')

	background-position 50%, 50%
	background-attachment fixed, fixed

	background-size cover

.title
	display flex
	align-items center
	justify-content space-around

	font-size 2rem

img
		height 120px
		border-radius 50%
		border 2px solid rgba(255, 255, 255, 0.75)
		box-shadow 2px 2px 8px rgba(0, 0, 0, 0.25)

nav
	font-size 1.5rem

	ul
		display flex
		flex-wrap wrap
		justify-content space-around

		list-style-type none
		padding 0

footer
	font-size 0.9rem

a
	text-decoration none
	color white


// LAYOUT
body
	display grid
	justify-items center

	min-height 100vh

	box-sizing border-box
	padding 1rem 2rem

article
	display grid

	min-height 100%
	max-width 1024px

header
	grid-area header

main
	grid-area content

footer
	grid-area footer

@media (min-width: 0px)
	article
		grid-template-rows auto 1fr auto
		grid-template-columns 1fr

		grid-template-areas \
			"header" \
			"content" \
			"footer"

	footer
		justify-self end

// --breakpoint-xs 0px
// --breakpoint-sm 576px
// --breakpoint-md 768px
// --breakpoint-lg 992px
// --breakpoint-xl 1200px
@media (min-width: 1200px)
	article
		grid-template-rows 1fr auto
		grid-template-columns 2fr 3fr

		grid-template-areas \
			"header content" \
			"footer footer"

		grid-gap 0 3rem

	header, main
		align-self center
