extends layout.pug

block append meta
	link(rel='me' href='https://eldritch.cafe/@milia')

block head_title
	| wryk

block title
	:markdown
		# wryk

block navigation
	:markdown
		* [Email](mailto:wryk@wryk.moe)
		* [Matrix](https://matrix.to/#/@wryk:matrix.org)
		* [XMPP](xmpp:wryk@jabber.at)
		* [Github](https://github.com/wryk)

block content
	:markdown
		Hello there, I'm **wryk**, a developer, passionate about web technologies and japanese popular culture.

		## Development

		I mainly do web development with common Symfony stack in a small company since 2013. I'm experienced with web browser ecosystem, notably javascript. I work with most of its preprocessors, its recent tooling and a couple of frameworks. I find functionnal programming stuff and type theory really interesting and I want to improve my understanding of them.

		## Hobbies

		I usually chill playing video games or watching animes and series. Sometimes I've got enough energy to do some progress to my side projects like cosplay costumes or web applications and libraries.

block footer
	:markdown
		Made with web technologies and love !
