extends layout/main.pug

block head_title
	| wryk

block title
	h1 hOI, I'm wryk

block navigation
	ul
		li(href='https://github.com/wryk') Github
		li(href='mailto:wryk@wryk.moe') Email
		li(href='xmpp:wryk@wryk.moe') XMPP
		li(href='https://matrix.to/#/@wryk:matrix.org') Matrix
		li(href='https://keybase.io/wryk') Keybase

block content
	p.
		Hello there, I'm #[b wryk], a young french developer, passionate about development and japanese popular culture.
	
	h2 Job
	p.
		I work in a small company since 2013, mainly doing web development with PHP (self-certified Symfony expert #[i wink wink]). I'm also a JavaScript (LiveScript, TypeScript, etc) user and I'm fluent with common web technologies. I know others languages too like Perl6, Ruby, Java and Haskell but I'm not experienced enough with them.
		
	h2 Hobbies
	p.
		I spend most of my free time between developing almost functionnal things, making stunning cosplay stuff, and watching animes.
