doctype html
html(lang='en')
	head
		meta(charset='utf-8')
			
		title
			block head_title

		block meta
			meta(name='author' content='wryk')
			meta(name='description' content='much wow')
			meta(name='viewport' content='width=device-width, initial-scale=1.0')
			meta(http-equiv='X-UA-Compatible' content='IE=Edge')
				
			link(rel='shortcut icon' href='media/favicon/favicon.ico')
			link(rel='icon' type='image/png' href='media/favicon/favicon.png')
			link(rel='apple-touch-icon' href='media/favicon/apple-touch-icon.png')

		block styles
			link(rel='stylesheet' media='screen' href='style.css')

	body
		article
			header
				.title
					// Avatar made by Dzuk ! (https://noct.zone)
					img(src='media/avatar.svg' alt='An emoji of a long-haired girl, she has two thin horns and she\'s smiling.')
						
					block title

				nav
					block navigation

			main
				block content

			footer
				block footer
