@font-face
	font-family Munro
	font-style normal
	src url(../fonts/munro/Munro.ttf)

html
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-tap-highlight-color transparent
